.btnVoltar{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background:#08415C;
    border:none;

}

.btnVoltar:hover{
    background: #B5FFE1;
    color: black;
    font-weight: 700;
    text-decoration: none;
}