.btnProjeto{
    width: 270px;
    height: 50px;
    border-radius: 10px;
    background:#000000;

}

.btnProjeto:hover{
    background: #FFF;
    color: black;
    font-weight: 700;
    text-decoration: none;
}